# -*- python -*-
# ex: set filetype=python:

from buildbot.plugins import *

from buildbot.process.results import SUCCESS

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
c['workers'] = [worker.Worker("example-worker", "pass")]

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': 9989}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot version of a python hello-world project.

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
        # 'https://github.com/buildbot/hello-world.git',
        'https://github.com/Ariacell/buildbot-experiments.git',
        workdir='gitpoller-workdir', branch='main',
        pollInterval=30))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = []
c['schedulers'].append(schedulers.SingleBranchScheduler(
                            name="all",
                            change_filter=util.ChangeFilter(branch='master'),
                            treeStableTimer=None,
                            builderNames=["runtests"]))
c['schedulers'].append(schedulers.ForceScheduler(
                            name="force",
                            builderNames=["runtests"]))

c['schedulers'].append(schedulers.SingleBranchScheduler(
                            name="build sum",
                            change_filter=util.ChangeFilter(branch='master'),
                            treeStableTimer=None,
                            builderNames=["build_simple_sum"]))
c['schedulers'].append(schedulers.ForceScheduler(
                            name="force_build_sum",
                            builderNames=["build_simple_sum"]))


c['schedulers'].append(schedulers.SingleBranchScheduler(
                            name="main_orchestrate",
                            change_filter=util.ChangeFilter(branch='main'),
                            treeStableTimer=None,
                            builderNames=["build_all"]))
c['schedulers'].append(schedulers.ForceScheduler(
                            name="force_orchestrate",
                            builderNames=["build_all"]))


build = schedulers.Triggerable(name="build-all-platforms",
                               builderNames=["build_simple_sum"])
test = schedulers.Triggerable(name="buildbot-test",
                              builderNames=["runtests"])

c['schedulers'].append(build)
c['schedulers'].append(test)


####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

factory = util.BuildFactory()
# check out the source
factory.addStep(steps.Git(repourl='https://github.com/buildbot/hello-world.git', branch='master', mode='incremental'))
# run the tests (note that this will require that 'trial' is installed)
factory.addStep(steps.ShellCommand(command=["trial", "hello"],
                                   env={"PYTHONPATH": "."}))


def only_if_blargh_passed(step):
    # Get the results of the entire build so far
    all_steps = step.build.executedSteps
    if not all_steps:
        return True # Run if it's the first step

    # Check the result of the last executed step
    for step in all_steps:
        if step.name == BLARGH_STEP_NAME:
            print(f"CHECKING STEPS: {step}")
            if step.results == SUCCESS:
                return True
    return False

BLARGH_STEP_NAME = "Blargh"

sum_factory = util.BuildFactory()
sum_factory.addStep(steps.Git(repourl='https://github.com/Ariacell/buildbot-experiments.git', mode='incremental'))
sum_factory.addStep(steps.ShellCommand(command=["pwd"], workdir="build/fastbuild"))
sum_factory.addStep(steps.ShellCommand(name=BLARGH_STEP_NAME, command=["pwd"], workdir="build/fastbuild", haltOnFailure=False))
sum_factory.addStep(steps.ShellCommand(command=["./fbuild", "all"],
                                   env={},
                                   workdir="build/fastbuild"))
sum_factory.addStep(steps.ShellCommand(command=["echo", "Blargh passed so we're running!"], description="Test to only run if blargh previously ran succesfully", workdir="build/fastbuild", haltOnFailure=False,doStepIf=only_if_blargh_passed))

orchestra_factory = util.BuildFactory()
orchestra_factory.addStep(steps.Trigger(schedulerNames=['build-all-platforms'],
                        waitForFinish=True,
                        updateSourceStamp=True,
                        set_properties={ 'quick' : False }))
orchestra_factory.addStep(steps.Trigger(schedulerNames=['buildbot-test'],
                        waitForFinish=True,
                        updateSourceStamp=True,
                        set_properties={ 'quick' : False }))

c['builders'] = []
c['builders'].append(
    util.BuilderConfig(name="runtests",
      workernames=["example-worker"],
      factory=factory))
c['builders'].append(
    util.BuilderConfig(name="build_simple_sum",
    description="Builds a proof of concept C++ project with fastbuild",
    workernames=["example-worker"],
    factory=sum_factory))

c['builders'].append(
    util.BuilderConfig(name="build_all",
    description="Trigger all downstream builds and orchestrate a release",
    workernames=["example-worker"],
    factory=orchestra_factory))

####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "Aria Tests Buildbot Stuff"
c['titleURL'] = "https://buildbot.github.io/hello-world/"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = "http://localhost:8010/"

# minimalistic config to activate new web UI
c['www'] = dict(port=8010,
                plugins=dict(waterfall_view={}, console_view={}, grid_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.
    # It's easy to start with sqlite, but it's recommended to switch to a dedicated
    # database, such as PostgreSQL or MySQL, for use in production environments.
    # https://docs.buildbot.net/current/manual/configuration/global.html#database-specification
    'db_url' : "sqlite:///state.sqlite",
}
